@import "./assets/css/variables.css";

/* CUSTOM RESET */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}
/* END CUSTOM RESET */

/* TYPOGRAPHY */

.jet-brains {
  font-family: "JetBrains Mono";
}

.nippo {
  font-family: Nippo;
}

.author {
  font-family: Author;
}

a.site-link {
  color: white;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow-x: hidden;
  top: 4px;
  font-weight: 600;
  &::before {
    content: " ";
    position: absolute;
    height: 1.5px;
    bottom: 1px;
    left: 0;
    right: 0;
    background-color: var(--near-white);
    transition: transform 0.8s;
  }

  &::after {
    content: " ";
    position: absolute;
    height: 1.5px;
    bottom: 1px;
    left: 0;
    right: 0;
    background-color: var(--near-white);
    transform: translateX(-300%);
    transition: transform 0.8s;
  }

  &:hover {
    &::before {
      transform: translateX(300%);
    }

    &::after {
      transform: translateX(0);
    }
  }
}

/* END TYPOGRAPHY */

/* COLOR */

body {
  color: var(--near-white);
  overscroll-behavior: none;
}

/* END COLOR */

/* ANIMATIONS */

@keyframes slideDown {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY((0));
  }
}

.generic-slide-down {
  animation: slideDown 0.5s ease-out;
}

.generic-slide-up {
  animation: slideUp 0.5s ease-out;
}
